@import '~antd/es/style/themes/default.less';

.body{
    // background-image: url(http://121.199.21.183:8080/upload/1.jpg);
    background-color: #EEEEEE;
}

.timeLine{
    margin-top: 30px;
    margin-left: 200px;
}

.image{
    width:  400px;
    height: 200px;      
}

.upload{
    float: right;
    margin-left: 75%;
    margin-top: 50px;
    position: fixed;
}

